---
import { BASE_URL } from '@api/fetch'

interface Props {
  title: string
  body: string
  image: string
}

const { title, body, image } = Astro.props
---

<li
  class="bg-white rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition duration-300 ease-in-out transform hover:-translate-y-2 hover:scale-105"
>
  <div class="p-6">
    <h2 class="text-2xl font-semibold mb-2 text-gray-800">
      {title}
      <span class="text-xl text-indigo-600 ml-2">&rarr;</span>
    </h2>
    <p class="text-gray-600">{body}</p>
  </div>
  <img
    src={`${BASE_URL}${image}`}
    alt="cat image"
    class="h-[155px] w-[250px] object-cover"
  />
</li>
